<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Global Reach Seattle </title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="css/site.css" />
  <script type="text/javascript" src="/js/cssrefresh.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"
  />

</head>

<body>
  <div id="main">
    <%- markup -%>
  </div>

  <script src="https://www.gstatic.com/firebasejs/3.7.8/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCcrkN7SMljNsUBC4NKu2gSR12L_sfPy8c",
      authDomain: "deschutes-e191b.firebaseapp.com",
      databaseURL: "https://deschutes-e191b.firebaseio.com",
      projectId: "deschutes-e191b",
      storageBucket: "deschutes-e191b.appspot.com",
      messagingSenderId: "716471079191"
    };
    firebase.initializeApp(config);

  </script>

  <script src="/js/bundle.js"></script>
</body>

</html>