/*! CSS reset from benfrain/app-reset */
*,:after,:before{box-sizing:inherit}html{box-sizing:border-box}
*{user-select:none;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}
[contenteditable],input[type]{user-select:text}body,h1,h2,h3,h4,h5,h6,p{margin:0;font-size:1rem;font-weight:400}
a{text-decoration:none;color:inherit}b{font-weight:400}em,i{font-style:normal}a:focus,input:focus{outline:0}
fieldset,input{appearance:none;border:0;padding:0;margin:0;min-width:0;font-size:1rem;font-family:inherit}
input::-ms-clear{display:none}input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{appearance:none}
svg{display:inline-flex}img{max-width:100%;display:block}

html {
  color: #030303;
  font: caption;
}

body {

}

a {
  color: #268428;
  text-decoration: underline;
}

h1 {
   color: #3c763d;
   font-size: 500%;
   margin: auto;
}

h2{
  color: #3c763d;
  font-size: 200%;
  border: solid;
  margin: auto;
}


#bannerimage {
  width: 100px;
  height: 50px;
  background-color: #3c763d;
  background-position: center;
}

 
.flex-container {
  display: flex;
  flex-flow: column wrap;
}
.staff-preview-container {
  display: flex;
  flex-flow: row wrap;
  width: 400px;
  height: 400px;
  margin: auto;
  justify-content: space-around;
  align-content: space-between;
}

p {
  width: 500px;
  margin: auto;
}

.Header{
  border-bottom: 4px solid #3c763d;
  margin: 0  auto;
  padding: 40px;
}

.Footer{
  border-top: 4px solid #3c763d;
  margin: 0 auto;
  padding: 40px;
  margin: auto;
}

.not-found {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  text-align: center;
  width: 100%;
}

.not-found h1 {
  font-size: 10em;
  font-weight: bold;
}

.not-found h2 {
  font-size: 2em;
  font-weight: bold;
}

.navigateBack {
  font-size: 1.6em;
  padding: 2em;
  text-align: center;
  text-decoration: none;
}



/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background:  #268428;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.6em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
