/*! CSS reset from benfrain/app-reset */
*,:after,:before{box-sizing:inherit}html{box-sizing:border-box}
*{user-select:none;-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}
[contenteditable],input[type]{user-select:text}body,h1,h2,h3,h4,h5,h6,p{margin:0;font-size:1rem;font-weight:400}
a{text-decoration:none;color:inherit}b{font-weight:400}em,i{font-style:normal}a:focus,input:focus{outline:0}
fieldset,input{appearance:none;border:0;padding:0;margin:0;min-width:0;font-size:1rem;font-family:inherit}
input::-ms-clear{display:none}input[type=number]{-moz-appearance:textfield}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{appearance:none}
svg{display:inline-flex}img{max-width:100%;display:block}


* {
  min-height: 0;
  min-width: 0;
}


.img{
  max-width:100%;
  max-height:100%;
}

html {
  color: #030303;
  font: caption;
}

a {
  color: #358600;
  text-decoration: underline;
}

h1 {
   color: #256D1B;
   margin: auto;
   font-family: 'Helvetica Neue', sans-serif; 
   font-size: 14vw; 
   font-weight: bold; 
   letter-spacing: -1px; 
   line-height: 1; 
   text-align: center; 
}

h2{
  color: #256D1B;
  font-size: 10vw;
  margin: auto;
  font-family: 'Open Sans', sans-serif; 
  font-size: 30px; font-weight: 300; 
  line-height: 32px; 
  margin: auto;
  text-align: center;
}


h3{
 color: #256D1B;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif; 
  text-align: center;
}

p { 
  color: #1F363D; 
  font-family: 'Helvetica Neue', sans-serif; font-size: 14px; 
  line-height: 24px; 
  padding: 20px;
  max-width: 65%;
  margin: auto;
}


.flex-container {
  display: flex;
  flex-flow: column nowrap;
  background: radial-gradient( #C6C7C4,  #48A53B); 
}

.event-preview{
  display: flex;
  margin: auto;
  flex-flow: column wrap;
  justify-content: center;
  padding: 90px;
 }

 .header-image{
   display: flex;
  margin: auto;
  flex-flow: column wrap;
  justify-content: center;
 }


.officer-container {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: center;
  align-content: space-between;
  width: 70%;
  padding: 40px;
}

.staff-preview-container {
  display: flex;
  width: 70%;
  justify-content: center;
  margin: auto;
}

.staff-preview{
  padding:10px;
}


.Header{
  display:flex;
  flex-flow: row wrap;
  padding: 10px;
  background-color: #EEF0F2;
  border-bottom: 4px solid #3c763d;
  margin: auto;
}


.header-carousel{
  width: 80vw;
  border: 5px solid #268428;
}

.header-image{
  object-fit: cover;
  width: 100%;
  height: 200px;
}

#logo {
  width: 100px;
  height: 50px;
}


.Footer{
  display: flex;
  background-color: #EEF0F2;
  border-top: 4px solid #3c763d;
  margin: auto;
  padding: 20px;
}

.FooterLinks{
  margin: auto;
}

.not-found {
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  text-align: center;
  width: 100%;
}

.not-found h1 {
  font-size: 10em;
  font-weight: bold;
}

.not-found h2 {
  font-size: 2em;
  font-weight: bold;
}

.navigateBack {
  font-size: 1.6em;
  padding: 2em;
  text-align: center;
  text-decoration: none;
}



/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 25px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background:  #358600;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #FFFFFF;
  padding: 3em 1.5em 0;
  font-size: 1.6em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #EEF0F2;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
