<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
    
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="container">
            <h2>All the information for your life in Seattle</h2>
          </div>
        </div>
      
        <div class="item">
					<div class="container">
            <h2>All the information for your life in Seattle</h2>
          </div>
        </div>
      
        <div class="item">
					<div class="container">
            <h2>All the information for your life in Seattle</h2>
          </div>
        </div>
      
      </div>
</div>